<%- layout('../layout') %>

<section class="section-tutorials">
    <article class="tutorial">
        <p class="tutorial-title"><%= post.title %></p>
        <div class="tutorial-tags">
            <% if (post.tags) { %>
              <% post.tags.forEach(function(tag) { %>
                <span class="tag tag-<%= tag %>"><a href="/search?s=<%= tag %>"><%= tag %></a></span>
              <% }) %>
            <% } %>
        </div>
        <p class="post-intro"><%- post.introFormatted %></p>
        <p class="post-description"><%- post.contentFormatted %></p>
    </article>
</section>
<section class="section-base">
    <table class="table table-stripped table-comments">
        <% comments.forEach(function(comment) { %>
            <tr>
                <td class="comment-user">
                    <img src="<%= comment.user.gravatar %>" alt="<%= comment.user.username %>" />
                    <span class="user-fullname"><%= comment.user.fullName %></span>
                    <span class="user-username"><a href="http://github.com/<%= comment.user.github %>">@<%= comment.user.github %></a></span>
                </td>
                <td class="comment-content">
                    <%- comment.contentFormatted %>
                </td>
            </tr>
        <% }) %>
    </table>
<% if (user) { %>
    <div class="row">
        <div class="col-lg-2 text--center">
            <img src="<%= user.gravatar %>" alt="Avatar" class="img-responsive img-thumbnail"/>
        </div>
        <div class="col-lg-10">
            <form method="POST" action="/post/<%= post.slug %>#comments">
                <%- formComment.toHTML() %>
                <input type="submit" class="btn btn-default" value="Dodaj" />
            </form>
        </div>
<% } else { %>
  <div class="alert">Zaloguj się, aby móc pisać komentarze</div>
<% } %>
</section>
