<%- layout('../layout') %>

<div class="list-actions">
    <a href="/admin/posts/new" class="btn btn-primary caps">Dodaj</a>
</div>

<h2 class="lead">Lista artykułów</h2>
<table class="table">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Kategoria</th>
            <th>Status</th>
            <th class="text--right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        <% posts.forEach(function(post) { %>
            <tr>
                <td>
                    <%= post.title %><br/>
                    <small><%= post.tags %></small>
                </td>
                <td><%= post.category ? post.category.name : '-' %></td>
                <td>
                    <%= post.active == true ? 'Aktywny' : 'Nieaktywny' %>
                </td>
                <td class="text--right">
                    <% if (!post.active) { %>
                        <a class="btn btn-default btn-sm" href="/admin/posts/<%= post._id %>/activate">Aktywuj</a>
                    <% } %>
                    <% if (!post.link) { %>
                        <a class="btn btn-default btn-sm" href="/admin/posts/<%= post._id %>">Podgląd</a>
                    <% } else { %>
                        <a class="btn btn-default btn-sm" href="<%= post.link %>">Podgląd</a>
                    <% } %>
                    <a class="btn btn-default btn-sm" href="/admin/posts/<%= post._id %>/edit">Edytuj</a>
                    <a class="btn btn-danger btn-sm" href="/admin/posts/<%= post._id %>/delete">Usuń</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
